:root {
    --pink: #FDBAB1;
    --blue: #254C71;
    --green: #63D0B4;
}

.stage {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
}

.stage-1 {
    border-top: 5px solid #FDBAB1;
}

.stage-2 {
    border-top: 5px solid var(--blue);
}

.stage-3 {
    border-top: 5px solid var(--green);
}

.btm {
    position: absolute;
    bottom: -27px;
    left: 26px;
    display: flex;
    align-items: center;
    text-align: center;
}

.bttm {
    color: #fff !important;
    border: none;
    /* padding: 30px 10px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 40%;
}

.updat-btn {
    background-color: #FBC968 !important;
}

.delete-btn {
    background-color: #FF6565 !important;
}

a {
    color: white;
}

.pink:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--pink);
    transform-origin: bottom left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
    -moz-transform: skew(30deg, 0deg);
    -o-transform: skew(30deg, 0deg);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.pink {
    background-color: var(--pink);
    color: #fff;
    border-radius: 8px;
    transform: skew(0deg, 0deg);
    border-bottom-left-radius: 0;
    position: absolute;
    right: -18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
}

.green {
    background-color: var(--green);
    color: #fff;
    border-radius: 8px;
    transform: skew(0deg, 0deg);
    border-bottom-left-radius: 0;
    position: absolute;
    right: -18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
}

.green:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--green);
    transform-origin: bottom left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
    -moz-transform: skew(30deg, 0deg);
    -o-transform: skew(30deg, 0deg);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.blue {
    background-color: var(--blue);
    color: #fff;
    border-radius: 8px;
    transform: skew(0deg, 0deg);
    border-bottom-left-radius: 0;
    position: absolute;
    right: -18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
}

.blue:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--blue);
    transform-origin: bottom left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
    -moz-transform: skew(30deg, 0deg);
    -o-transform: skew(30deg, 0deg);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}