.number-cont{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    justify-content:space-evenly;
}
.number-cont img{
    width: 15%;
}
.number-cont span{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
}
/* .slider-cont,.dounat-cont,.bar-cont,.nums-cont{
    transform: translateX(80px);
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
} */