.donut{
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 20px;
    font-family: inherit !important;
    background-color: #fff;
}
.apexcharts-legend-text{
    font-family: inherit !important;
    font-weight: 700 !important;
    font-size: larger !important;
    color: rgba(0, 0, 0, 0.7);
}
.title{
    font-size: x-large;
    font-weight: 600;
}
.apexcharts-legend-marker{
    width: 50px !important;
}
.apexcharts-tooltip{
    background-color: rgba(255, 255, 255, .96) !important;
}